img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    fill-opacity: (80%);
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  img:hover {
    cursor: pointer;
    background: #515f1298;
  }