.tabs {
    background: #515f1298;
    border: 5px solid white;
    max-width: 1200px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 100px;
  }
  
  .tab {
    display: none;
  }